<div class="row">
<div class="col-md 8">
    <div class="card">
        <img src="../../assets/image/image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/image/tv.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tv</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/image/taplet.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tablet</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="tablet" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/image/washingmachine.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Washingmachine</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="washingmachine" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/image/apple-iphone-14.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
<div class="col-md 4">
  <router-outlet></router-outlet>
</div>
</div>
